﻿#panel_header {
    background-color: darkseagreen;
    color: white;
    border: 1px solid #568a62;
}

#searchpanel {
    height: 40px;
    width: 350px;
    border-radius: 35px;
    background-color: darkseagreen;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #9d3a00;
    background-color: darkorange;
    background-image: linear-gradient(#fab73e, #a56b00);
}

#txtfield {
    height: 30px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    margin-top: 4px;
    text-align: center;
    border: 1px solid #694400;
}

#dropdown {
    height: 30px;
    width: 65px;
    margin-left: 5px;
    border: 1px solid #694400;
}

#searchbtn {
    height: 30px;
    width: 85px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    margin-left: 5px;
    margin-top: 4px;
    border: 1px solid #694400;
    background-color: sandybrown;
    background-image: linear-gradient(#d1ad6a, #755c2d);
    color: white;
}

#resultstable {
    margin-top: 10px;
}

table {
    text-align: center;
}

th {
    text-align: center;
}

.row {
    margin-top: 30px;
    margin-bottom: 30px;
}