﻿@model MovieFinderMVC.Movie

@{
    ViewBag.Title = "Movie Info";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <div class="row">
        <h3>Movie Info</h3>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <th>Genre</th>
                        <td>@Model.Genre</td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>@Model.Country</td>
                    </tr>
                    <tr>
                        <th>Year</th>
                        <td>@Model.Year</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-6" style="align-content:center;text-align:center;">
            <img src="~/Content/poster_empty.png" style="width:100px;height:100px;" />
        </div>
    </div>
    <div class="row text-center">
        <button type="button" class="btn btn-default" onclick="history.back()" value="Back">Back</button>
    </div>
</div>


