﻿@model Movie[]

<div id="resultstable" class="container text-center">
    <table class="table table-bordered">
        @if (Model == null)
        {
            <thead><tr>Found nothing.</tr></thead>

        }
        else
        {
            <thead>
                <tr>
                    <th>Movie name</th>
                    <th>Genre</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Movie mv in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(linkText:mv.Name,actionName:"MovieInfo", controllerName:"Search", routeValues: new { Name = mv.Name, Genre = mv.Genre }, htmlAttributes:null)</td>
                        <td>@mv.Genre</td>
                        <td>@mv.Year</td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>