﻿@{
    ViewBag.Title = "Movie Database";
}

<div id="spanel" class="container-fluid" style="background-color:orange">
    <form id="findby" action="@Url.Action("Results","Search")" method="post">
        <div id="searchpanel" class="container">
            <input id="txtfield" name="findvalue" type="text" placeholder="Search by..." />
            <select id="dropdown" name="findparam">
                <option value="name">Name</option>
                <option value="genre">Genre</option>
                <option value="actor">Actor</option>
            </select>
            <input id="searchbtn" type="submit" value="Find" />
        </div>
    </form>
</div>
@if (Request.RequestType == "POST")
{
    @Html.Partial("SearchResults", (Movie[])ViewBag.SearchResult)
}

