﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
</head>
<body>
    <div id="panel_header" class="container-fluid panel-success text-center">
        <a href="/Search/Start">
            <img src="~/Content/bob.png" style="width:100px;height:100px;" />
        </a>
        <h3>Tiny Movie Database</h3>
    </div>
    @RenderBody()
</body>
</html>
